main{
    background-color: #E9ECEC;
    min-height: 900px;
    height: auto;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
}

.title{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.product-form{
    width: 200px;
    height: 200px;
}

.form-margin{
    margin-bottom: 5px;
}