main{
    background-color: #E9ECEC;
    height: auto;
    width: 100%;
    padding-top: 40px;
    height: auto;
    padding-bottom: 10px;
}

a{
    text-decoration: none;
    color: black;
}

.title{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.product{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 230px;
    margin-right: 4%;
    padding: 0;
    background-color: #E9ECEC;
    transition: 0.5s;
}

.product:hover{
    box-shadow: 1px 1px 1px 1px #C6CBCB;
    border-radius: 5px;
    z-index: 1;
    transform: scale(1.2);
}

.product-img{
    width: 100%;
    height: 250px;
    border-radius: 6px;
}

.product-name{
    font-weight: bold;
    margin-top: 10px;
    font-size: 0.9rem;
}

@media(max-width: 751px){
    .product{
        width: 240px;
    }
}

@media(max-width: 520px){
    .product{
        margin: 0 auto;
        width: 370px;
    }

    .title{
        margin: 0 auto;
    }
}
