main{
    background-color: #E9ECEC;
    height: 800px;
    width: 100%;
    padding-top: 40px;
    height: auto;
    padding-bottom: 10px;
}

.title{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.product-img-item{
    height: 400px;
    margin: 0 auto;
    width: 350px;
}

.product-name-item{
    font-size: 2rem;
}

.product-price-item{
    font-size: 2rem;
    margin-top: 250px;
}

.product-brand-item{
    font-size: 1rem;
    color: gray;
    margin-top: 10px;
}

